 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

 
<!-- Header Section with Image and Text Overlay -->
    <div class="header">
        <img class="header-image" src="{% static 'image/head.jpg' %}" alt="Gallery Header">
        <div class="header-overlay">
            <h1>Curated Collections</h1>
            <p>Explore our carefully selected works showcasing beauty in its most natural form</p>
        </div>
    </div>
    
    <!-- Gallery Section -->
    <div class="gallery-container">
        <h2 class="gallery-title">Featured Gallery</h2>
        <div class="gallery">
            <!-- Gallery Items -->
             {%for i in image%}
            <div class="gallery-item">
                <img src="{{i.image.url}}" alt="Gallery">
            </div>
            {%endfor%}
        </div>
    </div>


 {% endblock %}